/*  phpBB 3.2 Documentation Style Sheet
*/

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	padding: 10px;
	background-color: #e4edf0;
	font-size: 0.9em;
	line-height: 1.3em;
}
div.section, div.chapter, div.titlepage, div.toc {
   	background-color: #fff;
	padding: 0.4em 1em;
	margin: 0.5em 0em;
	border: solid 1px #a9b8c2;
	-moz-border-radius: 10px 10px 10px 10px;
}
div.titlepage {
        margin-bottom: 0;
	-moz-border-radius: 10px 10px 0px 0px;
	border-bottom: none;
}

div.toc{
        margin-top: 0;
	-moz-border-radius: 0px 0px 10px 10px;
	border-top: none;
	padding-top: 0;
}
div.toc p {
	margin-top: 0;
}

div.section div.titlepage, div.chapter div.toc, div.chapter div.titlepage {
	border: none;
	padding: 0;
	margin: 0;
	-moz-border-radius: 0;
}

div.section div.section {
	padding: 0;
	border: solid 1px #a9b8c2;
	border: none;
}
div.author h3 {
	display: none;
}

div.tip, div.important, div.note {
	margin: 0 !important;
	font-family: Trebuchet MS;
	border: 1px solid #ddd;
	padding: 0.5em;
	-moz-border-radius: 1em;
	clear: both;
}
div.tip {
	background-color: #ff9;
}
div.important {
	background-color: #f90;
}
div.note {
	background-color: #ff9;
}
div.tip h3, div.important h3, div.note h3 {
	margin: 0;
	padding: 0;
}


div.tip p, div.important p, div.note p {
	margin: 0;
}

ul li p, ol li p{
	margin: 0;
}

hr {
	display: none;
}
div.navheader, div.navfooter {
	background-color: #ffffff;
	padding: 0.4em 0;
	color: #333;
	border: solid 1px #a9b8c2;
	-moz-border-radius: 10px 10px 10px 10px;
}
div.navheader td, div.navfooter td{
	padding: 0em 1em;
}
div.navheader a, div.navfooter a {
	font-family: Arial;
	
	
}
div.navfooter {
	-moz-border-radius: 10px 10px 10px 10px;
	clear: both;
}

.figure {
	float: left;
	margin: 10px 0;
	clear: both;
	margin-top: 20px;	


}
.figure .title {
	font-family: Arial;
	margin: 0;

	margin-left: 10px;
	background-color: #e1ebf2;
	display: inline;
	-moz-border-radius: 10px 10px 0 0;
	padding: 10px;
	padding-top: 5px;
}
.figure .title b{
	font-weight: normal;
}
.mediaobject img {
	display: block;
	background-color: #e1ebf2;	
	padding: 10px;
	-moz-border-radius: 10px;

}
.mediaobject .caption p{
	text-align: center;
	font-size: 0.8em;
	line-height: 1em;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-style: italic;
	
}

.guilabel {
	text-transform: uppercase;
	font-size: 0.8em;
	font-family: Arial;
}
p {
	clear: both;
}

h1, h2, h3, h4 {
	clear: both;
}
div.copyright {
	font-size: 0.6em;
	margin-top: 1em;
	line-height: 1em;
	margin: 1em 50px;
	font-family: Arial;
}

.list-of-figures {
	display: none;
}

.variablelist dt {
	font-weight: bold;
	margin: 0;
}
.variablelist dd p {
	font-style: italic;
	margin: 0;
	padding: 0;
}
.variablelist  dd {
	margin-bottom: 1em;
	margin-left: 0;
}